# Example environment variables file
# do not check in .env files with git

# reference these in your code with process.env.SECRET

clientId=
clientSecret=
studio_token=
PORT=

# note: .env is a shell file so there can’t be spaces around =

# for a nice explanation of using environment variables see
# https://www.twilio.com/blog/2017/08/working-with-environment-variables-in-node-js.html